[package]
name = "surrealdb"
version = "0.2.2"
authors = ["Emmanuel Keller <emmanuel.keller@surrealdb.com>"]
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/main/rust/lib.rs"

[profile.release]
opt-level = 3

[dependencies]
jni = "0.21.1"
surrealdb = { git = "https://github.com/surrealdb/surrealdb.git" }
serde = "1.0.217"
rust_decimal = "1.36.0"
tokio = "1.43.0"
parking_lot = "0.12.3"
once_cell = "1.20.2"
chrono = "0.4.39"
dashmap = "6.1.0"

[features]
default = ["rustls", "native-tls", "kv-mem", "kv-surrealkv", "protocol-ws", "protocol-http", "http", "jwks"]
rustls = ["surrealdb/rustls"]
native-tls = ["surrealdb/native-tls"]
jwks = ["surrealdb/jwks"]
http = ["surrealdb/http"]
kv-mem = ["surrealdb/kv-mem"]
kv-surrealkv = ["surrealdb/kv-surrealkv"]
protocol-ws = ["surrealdb/protocol-ws"]
protocol-http = ["surrealdb/protocol-http"]