config.stopBubbling = true

lombok.addNullAnnotations = jetbrains
lombok.addLombokGeneratedAnnotation = true

lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = true

lombok.toString.doNotUseGetters = true
lombok.toString.includeFieldNames = true

lombok.equalsAndHashCode.doNotUseGetters = true

