name: Continuous Integration

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  test:
    runs-on: ubuntu-latest
    steps:

      - name: Setup SurrealDB
        run: docker run -d --rm --network host surrealdb/surrealdb:latest start --user=root --pass=root

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Run Tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
