name: Version Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:

  test:
    runs-on: ubuntu-latest
    steps:

      - name: Setup SurrealDB
        run: docker run -d --rm --network host surrealdb/surrealdb:latest start --user=root --pass=root

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Run Tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test

  release:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: fatJar -Pversion=${{ github.ref_name }}

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/libs/surrealdb-${{ github.ref_name }}.jar
